<div class="bg_color_2">
    <div class="container margin_60_35">
      <div id="login">
        
        <h1> {{test}} Please login to Epione!</h1>
        <div class="box_form">
          <form [formGroup]="form" (ngSubmit)="OnSubmit()">
            
            <div class="form-group">
              <input formControlName="email" type="email" class="form-control" placeholder="Your email address" required>
              <div *ngIf="!form.controls['email']?.valid && form.controls['email']?.touched" class="alert alert-danger" >Email is required</div>
            </div>
            <div class="form-group">
              <table>
                <tr>
                  <td><input  style="width : 339px" formControlName="password" [type]="passwordType" class="form-control" placeholder="Your password" required></td>
                  <td><i [class]="icone" (click)="togglePassword()"></i></td>
                </tr>
              </table>
               
              
             
              
              <div *ngIf="!form.controls['password']?.valid && form.controls['password']?.touched" class="alert alert-danger">Password is required</div>
              <div *ngIf="ErrorMsg"  class="alert alert-danger" >{{ErrorMsg}}</div>
            </div>
            <a href="#0"><small>Forgot password?</small></a>
            <div class="form-group text-center add_top_20">
              <input class="btn_1 medium" type="submit" [disabled]="!form.valid" value="Login">
      </div>
      <div class="divider"><span>Or</span></div>
      <a href="#0" class="social_bt facebook">Login with Facebook</a>
            <a href="#0" class="social_bt google">Login with Google</a>
            <a href="#0" class="social_bt linkedin">Login with Linkedin</a>
            
          </form>
        </div>
        <p class="text-center link_bright">Do not have an account yet?
          <a routerLink="register">
           <strong>Register now!</strong></a></p>
      </div>
      <!-- /login -->
    </div>
  </div>
<!-- /main -->

